@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for that modern XXI century look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}